<main>

    <input id="tab1" type="radio" name="tabs">
    <label for="tab1">Minha Equipe</label>
  
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Tabs Item</label>
  
    <input id="tab3" type="radio" name="tabs">
    <label for="tab3">Tabs Item</label>
  
    <input id="tab4" type="radio" name="tabs">
    <label for="tab4">Tabs Item</label>
  
    <section id="content1">
      <div>
        <app-person></app-person>
      </div>
    </section>
  
    <section id="content2">
      Tabs Item 1
    </section>
  
    <section id="content3">
      Tabs Item 2
    </section>
  
    <section id="content4">
        Tabs Item 3
    </section>
  
  </main>

  

  